
.container{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  background-color: black;
  


}
h1 {
    text-align: center;
    font-size: 35px;
}
.container img{
margin-top: 50px;
}

.navbarr{
text-align: center;
width: 100%;
background-color: red;

}
.navbarr h1{
padding: 13px;
text-align: center;
color: #ffffff;
font-size: 23px;
font-weight: bold;

}

.middle{
    display:  flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
width: 84%;
background-color: transparent;
}
.middle img{
    margin-top: 30px;
    margin-bottom: 15px;
    max-width: 60%;
}
.title{
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}
.videos{
    padding: 10px;
    width: 87%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.video{
    margin-bottom: 15px;
width: 48%;
height: 300px;
background-color: #FDB441;
border-radius: 8px;

}


.mediaVideo video{

width: 100%;
height:100%;
background-color: violet;
}
.under{
    text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
    background-color: transparent;
    width: 100%;
   

}
.under h1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    
}
.under .icon ion-icon{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDB441;
    border-radius: 50%;
    border: #FDB441;

}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
width: 100%;
height: 150px;
background-color: black;
}
.footer p{
    margin: 10px;
    font-size: 20px;
    color: #ffffff;
}

/*Botão Pulsa*/
.box-pulse { 

    width:100%; 
    width:400px; 
    margin:0 auto;
     padding:0 30px;
}

.box-pulse a {
  text-align: center;
  text-decoration:none;
  display: inline-block;
  font-size: 1.1em;
  font-family:Verdana, Geneva, sans-serif;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;

}

.botao-pulse {
    font-weight: bold;
  padding: 20px 30px;
  color: #fff;
  background-color: #28CC3E;
  box-shadow: 0px 0px 10px 4px rgb(40 204 62 / 52%);;
  border-radius:10px; 
  -webkit-animation: pulse 1s ease infinite;
  -moz-animation: pulse 1s ease infinite;
  -ms-animation: pulse 1s ease infinite;
  -o-animation: pulse 1s ease infinite;
  animation: pulse 1s ease infinite;
  font-size: 17px;
}

.botao-pulse:hover {
  color: #fff;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
  }

  25% {
    -moz-transform: scale(1.1);
  }

  50% {
    -moz-transform: scale(1);
  }

  100% {
    -moz-transform: scale(1);
  }
}

@-ms-keyframes pulse {
  0% {
    -ms-transform: scale(1);
  }

  25% {
    -ms-transform: scale(1.1);
  }

  50% {
    -ms-transform: scale(1);
  }

  100% {
    -ms-transform: scale(1);
  }
}

@-o-keyframes pulse {
  
  0% { -o-transform: scale(1); }
  25% { -o-transform: scale(1.1); }
  50% { -o-transform: scale(1); }
  100% { -o-transform: scale(1); } 

}

@keyframes pulse { 

  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
.vagas{
    display: flex;
    justify-content: space-around;
    align-items: center;
flex-direction:  column;
    width: 87%;
    margin-top: 15px;
    background-color: lightgoldenrodyellow;
   padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.vagas h1{
    margin: 10px 0;
    font-size: 45px;
    color: black;
    font-weight: bold;
}
.vagas h2{
    margin: 10px 0;
    font-size: 60px;
    color: #FCC414;
    font-weight: bold;
}
.vagas h3{
    margin: 10px 0;
    font-size: 32px;
    color: black;
    margin-bottom: 60px;

}
.box-pulse-vagas { 

    
    width:380px; 
    margin: 0 auto;
     padding:0 30px;
}

.box-pulse-vagas a {
  text-align: center;
  text-decoration:none;
  display: inline-block;
  font-size: 1.1em;
  font-family:Verdana, Geneva, sans-serif;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;

}

.botao-pulse-vagas {
    font-weight: bold;
  padding: 20px 30px;
  color: #fff;
  background-color: #28CC3E;
  box-shadow: 0px 0px 10px 4px rgb(40 204 62 / 52%);;
  border-radius:10px; 
  -webkit-animation: pulse 1s ease infinite;
  -moz-animation: pulse 1s ease infinite;
  -ms-animation: pulse 1s ease infinite;
  -o-animation: pulse 1s ease infinite;
  animation: pulse 1s ease infinite;
  font-size: 17px;
}


/*Botão Pulsa*/
@media(max-width: 425px) {
    .navbarr h1{
     font-size: 15px;
     padding-bottom: 5px;
    }
  .title{
    font-size: 20px;
  }
    .under h1{
        font-size: 13px;
        margin-bottom: 100px;
       
    }
    .video{
      width: 90%;
      height: 175px;
    }
    .under .icon ion-icon{
        font-size: 10px;
        margin: 0;
        margin-bottom: 100px;
    }
    .box-pulse {
        width: 80%;
    }
    .footer p{
        font-size: 10px;
    
    }
   }